# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Virtual environments
venv/
env/
.venv/
